<!-- if (){} -->
<div *ngIf="car == 'Zuzuki'; else whenElse">
  El carro seleccionado es {{car}}
</div>
<ng-template #whenElse>
  <div>
    No se seleccionó Zuzuki
  </div>
</ng-template>

<ol>
  <li *ngFor="let letter of letters">{{letter}}</li>
</ol>

<ol>
  <li> la Primera segunda letra del Array es {{letters[1]}}</li>
  <li>{{letters[3]}} texto al final de la interpolación</li>
  <li>al principio {{letters[4]}} al final</li>
</ol>

<!-- for () {} -->
<ul>
  <li *ngFor="let person of people">{{person.fName}} tiene {{person.age}} años y su género es {{person.gender}}</li>
</ul>

<h4>Estás son las mujeres</h4>
<ul>
  <div *ngFor="let person of people">
    <li *ngIf="person.gender == 'F'">
      <div>{{person.fName}} tiene {{person.age}} años y su género es {{person.gender}}</div>
    </li>
  </div>
</ul>

<h4>Estos son los hombres</h4>
<ul>
  <div *ngFor="let person of people">
    <li *ngIf="person.gender == 'M'">
      <div>{{person.fName}} tiene {{person.age}} años y su género es {{person.gender}}</div>
    </li>
  </div>
</ul>


<h4>Estas personas son las mayores a 25 años</h4>
<ul>
  <div *ngFor="let person of people">
    <li *ngIf="person.age > 25">
      <div>{{person.fName}} tiene {{person.age}} años y su género es {{person.gender}}</div>
    </li>
  </div>
</ul>

<img [src]="image" alt="">

<button type="button" (click)="behavior()">Send</button>

<p>El conteo es {{count}}</p>
<hr>
<input type="text" [(ngModel)]="moto">

<p>La marca de la moto es: {{moto}}</p>

<hr>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <input name="user" ngModel required #first="ngModel">
  <input name="password" ngModel #second="ngModel">
  <button>Submit</button>
</form>

<p>First name value: {{ first.value }}</p>
<p>Second input is: {{second.value}}</p>
<p>First name valid: {{ first.valid }}</p>
<p>Form value: {{ f.value | json}}</p>
<p>Form valid: {{ f.valid }}</p>
<hr>

<h4>API Post por medio de un formulario en Angular</h4>
<input type="number" [(ngModel)]="price">
<button type="button" (click)="sendPrice()">Send Price</button>

<hr>
<div *ngFor="let hotel of airbnData">
  <p> <b>Name: </b> {{hotel.name}} </p>
  <p> <b>Description: </b> {{hotel.description}} </p>
  <p> <b>Price:</b> ${{hotel.price.$numberDecimal}}</p>
  <img class="hotel-image" [src]="hotel.images.picture_url" alt="">
  <hr>
</div>

<router-outlet></router-outlet>